.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

#ui-body > * {
  margin-bottom: 1rem;
}

.appointments-table > thead {
  top: 0;
  position: sticky;
}

.appointments-table {
  height: 25%;
}

th {
  white-space: nowrap !important;
  word-wrap: break-word;
}

td {
  white-space: nowrap !important;
  word-wrap: break-word;
}

@media screen and (max-width: 992px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -60%; /* 6 columns */
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 60%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 60%; /* 6 columns */
  }
}

/* Jumbotron Animation */
.jumbotron-anim {
  background-size: 400% 400% !important;
  -webkit-animation: JumbotronAnim 6s ease infinite;
  -moz-animation: JumbotronAnim 6s ease infinite;
  animation: JumbotronAnim 6s ease infinite;
}

@-webkit-keyframes JumbotronAnim {
  0% {
    background-position: 0% 91%;
  }
  50% {
    background-position: 61% 40%;
  }
  100% {
    background-position: 0% 91%;
  }
}
@-moz-keyframes JumbotronAnim {
  0% {
    background-position: 0% 91%;
  }
  50% {
    background-position: 61% 40%;
  }
  100% {
    background-position: 0% 91%;
  }
}
@keyframes JumbotronAnim {
  0% {
    background-position: 0% 91%;
  }
  50% {
    background-position: 61% 40%;
  }
  100% {
    background-position: 0% 91%;
  }
}
